build
/unity_project/Temp
graphic
tools
Assembly-*
*.sln
*.userprefs
/unity_project/Library
*.bundle
/unity_project/resources/*


!/unity_project/Library/*.asset
!/unity_project/Library/AssetImportState
!/unity_project/Library/AssetVersioning.db
!/unity_project/Library/BuildPlayer.prefs
!/unity_project/Library/ScriptMapper
!/unity_project/Library/assetservercachev3
!/unity_project/Library/expandedItems
!/unity_project/Library/guidmapper
!/unity_project/Library/unity default resources
!/unity_project/Library/unity editor resources
!/unity_project/Library/metadata/
/unity_project/Builds
